USE [ProductionDatas]
GO
/****** Object:  View [dbo].[vRevisar]    Script Date: 3/26/2021 2:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vRevisar] as
select 
	QRCode,
	Dateday,
	OP10FinalResult,
	OP20FinalResult,
	OP30FinalResult,
	OP40FinalResult,
	OP50FinalResult,
	OP60FinalResult,
	OP70_AFinalResult,
	OP70_BFinalResult,
	OP80FinalResult,
	OP120FinalResult,
	OP130FinalResult, 
	OP140FinalResult,
	OP150FinalResult,
	OP160FinalResult
from ProductionData 
where 
	Dateday = convert(date,getdate(),120) 
and 
	(
		(OP10FinalResult = 'NG' and OP20FinalResult is null) or
		(OP20FinalResult = 'NG' and OP30FinalResult is null) or 
		(OP30FinalResult = 'NG' and OP40FinalResult is null) or 
		(OP40FinalResult = 'NG' and OP50FinalResult is null) or 
		(OP50FinalResult = 'NG' and OP60FinalResult is null) or 
		(OP60FinalResult = 'NG' and (OP70_AFinalResult is not null or OP70_BFinalResult is not null)) or
		(OP80FinalResult = 'NG' and OP120FinalResult is null) or
		(OP120FinalResult = 'NG' and OP130FinalResult is null) or
		(OP130FinalResult = 'NG' and OP140FinalResult is null) or
		(OP140FinalResult = 'NG' and OP150FinalResult is null) or
		(OP150FinalResult = 'NG' and OP160FinalResult is null) 
	)

			   




GO
