USE [ProductionDatas]
GO
/****** Object:  StoredProcedure [dbo].[spInsertQR]    Script Date: 3/26/2021 2:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Fecha: 3-03-2021
	Desc: Inserta QR en la Base de datos
	autor: jose chavez ingeniate
*/
CREATE procedure [dbo].[spInsertQR] @QR nvarchar(30),@Result nvarchar(2) as
BEGIN

	insert into [dbo].[ProductionData] (QRCode,DateDay,OP10FinalResult,OP10Time) values (@QR,CONVERT(varchar(10), GETDATE(),120),@Result,CONVERT(varchar, GETDATE(),120))


End

GO
