USE [ProductionDatas]
GO
/****** Object:  View [dbo].[vAux]    Script Date: 3/26/2021 2:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vAux] as
select top 100 percent QRCode,OP10Time,OP10FinalResult,OP20Time,OP20FinalResult from [dbo].[ProductionData]
where OP10Time > '2021-03-03 20:00:52'
order by OP10Time desc
GO
