USE [ProductionDatas]
GO
/****** Object:  StoredProcedure [dbo].[spUpdateQR]    Script Date: 3/26/2021 2:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Fecha: 3-03-2021
	Desc: Inserta QR en la Base de datos
	autor: jose chavez ingeniate
*/
CREATE procedure [dbo].[spUpdateQR] @QR nvarchar(30), @Result nvarchar(2), @Station nvarchar(5) as
BEGIN
	if @Station = '20'
		update [dbo].[ProductionData] set OP20Time = CONVERT(varchar, GETDATE(),120), OP20FinalResult = @Result	where QRCode =  @QR 
End

GO
