USE [ProductionDatas]
GO
/****** Object:  View [dbo].[vFinal]    Script Date: 3/26/2021 2:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vFinal] as
SELECT TOP (1000) [Id]
      ,[QRCode]
      ,[DateDay]
      ,[OP10FinalResult]
      ,[OP20FinalResult]
      ,[OP30FinalResult]
      ,[OP40FinalResult]
      ,[OP50FinalResult]
      ,[OP60FinalResult]
      ,[OP70_AFinalResult]
      ,[OP70_BFinalResult]
      ,[OP80FinalResult]
      ,[OP90_AFinalResult]
      ,[OP90_BFinalResult]
      ,[OP100FinalResult]
      ,[OP120FinalResult]
      ,[OP130FinalResult]
      ,[OP140FinalResult]
      ,[OP150FinalResult]
      ,[OP160FinalResult]
  FROM [ProductionDatas].[dbo].[ProductionData]
GO
