USE [ProductionDatas]
GO
/****** Object:  StoredProcedure [dbo].[spTests]    Script Date: 3/26/2021 2:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spTests] as
declare @QRCode nvarchar(20)
set @QRCode= '440106RA0CT213R10013'


SELECT 
	id= null,QRCode,
	--[OP10MachineNumber],[OP10Time],[OP10FinalResult],[OP10MT],[OP10PassThroughTest],[OP10TightenTorque],[OP10TightenAngle],[OP10ProcessPass]
	--[OP20MachineNumber],[OP20Time],[OP20FinalResult],[OP20MT],[OP20LowPressureValue],[OP20LowPressureDistance],[OP20HighPressureValue],[OP20HighPressureDistance],[OP20SealGrooveUp],[OP20SealGrooveDown],[OP20ProcessPass]
	[OP30MachineNumber],[OP30Time],[OP30FinalResult],[OP30MT],[OP30GreaseResult],[OP30ProcessPass]
	--[OP40MachineNumber],[OP40Time],[OP40FinalResult],[OP40MT],[OP40BoltLoad0To250],[OP40BoltLoad0To150],[OP40PistonLoad],[OP40DDMotorSTNo],[OP40CYGreaseResult],[OP40ERingCheckResult],OP40ProcessPass
	--[OP50MachineNumber],[OP50Time],[OP50FinalResult],[OP50MT],[OP50TightenTorque],[OP50TightenAngle],[OP50LaserPrintResult],OP50ProcessPass
	--[OP60MachineNumber],[OP60Time],[OP60FinalResult],[OP60MT],[OP60LowPressureLeak],OP60ProcessPass
	--[OP70_AMachineNumber],[OP70_ATime],[OP70_AFinalResult],[OP70_AMT],[OP70_AMediumPressureLeak],
	--[OP70_BMachineNumber],[OP70_BTime],[OP70_BFinalResult],[OP70_BMT],[OP70_BMediumPressureLeak], OP70_AProcessPass
	--[OP80Time],[OP80FinalResult],[OP80MT],[OP80OutRoundLowPressure],[OP80OutRoundLowHeight],[OP80OutRoundHighPressure],[OP80OutRoundHighHeight],[OP80InRoundPressure],[OP80InRoundHeight], OP80ProcessPass
	--[OP90_AMachineNumber] ,[OP90_ATime],[OP90_AFinalResult],[OP90_AMT],[OP90_AMTGreaseResultL],[OP90_AMTGreaseResultR],[OP90_ADowelHoleGreaseResultL],[OP90_ADowelHoleGreaseResultR],[OP90_BMachineNumber],[OP90_BTime],[OP90_BFinalResult],[OP90_BMT],[OP100MachineNumber]
	--[OP100Time],[OP100FinalResult],[OP100MT],[OP100MufflerHeightL],[OP100MufflerHeightR]
	--[OP120MachineNumber],[OP120Time],[OP120FinalResult],[OP120MT],[OP120MufflerThicknessFrontL],[OP120MufflerThicknessFrontR],[OP120MufflerThicknessBackL],[OP120MufflerThicknessBackR],[OP120AlertorThicknessFrontL],[OP120AlertorThicknessFrontR],[OP120AlertorThicknessBackL],[OP120AlertorThicknessBackR],[OP120LocatorFrontL],[OP120LocatorFrontR],[OP120LocatorBackL],[OP120LocatorBackR],[OP120HolderThicknessL],[OP120HolderThicknessR],[OP120ERingCheckResult], OP120ProcessPass
	--[OP130MachineNumber],[OP130Time],[OP130FinalResult],[OP130MT],[OP130TightenTorqueL],[OP130TightenAngleL],[OP130TightenTorqueR],[OP130TightenAngleR],[OP130MarkCode],OP30ProcessPass
	--[OP130MachineNumber],[OP130Time],[OP130FinalResult],[OP130MT],[OP130TightenTorqueL],[OP130TightenAngleL],[OP130TightenTorqueR],[OP130TightenAngleR],[OP130MarkCode]
	--[OP140MachineNumber],[OP140Time],[OP140FinalResult],[OP140MT],[OP140ORingCheckResult],OP140ProcessPass,
	--[OP150MachineNumber],[OP150Time],[OP150FinalResult],[OP150MT],[OP150TightenTorqueL],[OP150TightenAngleL],[OP150TightenTorqueR],[OP150TightenAngleR],OP150ProcessPass
	--[OP160MachineNumber],[OP160Time],[OP160FinalResult],[OP160MT],[OP160Voice0To2000],[OP160Voice1000To2000],[OP160TightenShakePC],[OP160ReleaseShakePC],[OP160TightenShake0To250],[OP160TightenShake250To500],[OP160TightenShake600To1000],[OP160ClampForce5],[OP160ClampForce13Dot72],[OP160TightenTorqueL],[OP160TightenAngleL],[OP160TightenTorqueR],[OP160TightenAngleR],[OP160MGUQRCode],[OP160DMRank],[OP160InterferenceCheckResult],[OP160ElectricDrillNoise] ,OP160ProcessPass
	FROM [ProductionData] 
where QRCode = @QRCode

/*
update ProductionData 
 set OP150FinalResult = 'OK',
	--[OP20MachineNumber] = null,[OP20Time] = null,[OP20FinalResult] = null,[OP20MT] = null,[OP20LowPressureValue] = null,[OP20LowPressureDistance] = null,[OP20HighPressureValue] = null,[OP20HighPressureDistance] = null,[OP20SealGrooveUp] = null,[OP20SealGrooveDown] = null,[OP20ProcessPass] = null
	--[OP30MachineNumber]= null,[OP30Time]= null,[OP30FinalResult]= null,[OP30MT]= null,[OP30GreaseResult]= null,[OP30ProcessPass]= null
	--[OP40MachineNumber] = null,[OP40Time] = null,[OP40FinalResult]= null,[OP40MT] = null,[OP40BoltLoad0To250] = null,[OP40BoltLoad0To150] = null,[OP40PistonLoad] = null,[OP40DDMotorSTNo] = null,[OP40CYGreaseResult]= null,[OP40ERingCheckResult]= null,OP40ProcessPass = null
	--[OP50MachineNumber]= null,[OP50Time]= null,[OP50FinalResult]= null,[OP50MT]= null,[OP50TightenTorque]= null,[OP50TightenAngle]= null,[OP50LaserPrintResult]= null,OP50ProcessPass=null
	--[OP60MachineNumber]= null,[OP60Time]= null,[OP60FinalResult]= 'OK',[OP60MT]= null,[OP60LowPressureLeak]= null,OP60ProcessPass= null
	--[OP70_AMachineNumber] = null,[OP70_ATime] = null,[OP70_AFinalResult] = null,[OP70_AMT] = null,[OP70_AMediumPressureLeak] = null, OP70_AProcessPass = null
	--,[OP70_BMachineNumber] = null,[OP70_BTime] = null,[OP70_BFinalResult] = null,[OP70_BMT] = null,[OP70_BMediumPressureLeak] = null, OP70_BProcessPass = null
	--[OP80MachineNumber]= null,[OP80Time] = null,[OP80FinalResult] = null,[OP80MT] = null,[OP80OutRoundLowPressure] = null,[OP80OutRoundLowHeight] = null,[OP80OutRoundHighPressure] = null,[OP80OutRoundHighHeight] = null,[OP80InRoundPressure] = null,[OP80InRoundHeight] = null, OP80ProcessPass = null
	--[OP120MachineNumber]= null,[OP120Time]= null,[OP120FinalResult]= null,[OP120MT]= null,[OP120MufflerThicknessFrontL]= null,[OP120MufflerThicknessFrontR]= null,[OP120MufflerThicknessBackL]= null,[OP120MufflerThicknessBackR]= null,[OP120AlertorThicknessFrontL]=null,
	--[OP120AlertorThicknessFrontR]= null,[OP120AlertorThicknessBackL]= null,[OP120AlertorThicknessBackR]= null,[OP120LocatorFrontL]= null,[OP120LocatorFrontR]= null,[OP120LocatorBackL]= null,[OP120LocatorBackR]= null,[OP120HolderThicknessL]=null,
	--[OP120HolderThicknessR]= null,[OP120ERingCheckResult] = null,
	--[OP130MachineNumber]= null,[OP130Time]= null,[OP130FinalResult]= null,[OP130MT]= null,[OP130TightenTorqueL]= null,[OP130TightenAngleL]= null,[OP130TightenTorqueR]= null,[OP130TightenAngleR]= null,[OP130MarkCode] =null, OP130ProcessPass = null
	--[OP120MachineNumber]= null,[OP120Time]= null,[OP120FinalResult]= null,[OP120MT]= null,[OP120MufflerThicknessFrontL]= null,[OP120MufflerThicknessFrontR]= null,[OP120MufflerThicknessBackL]= null,[OP120MufflerThicknessBackR]= null,[OP120AlertorThicknessFrontL]=null,
	--[OP120AlertorThicknessFrontR]= null,[OP120AlertorThicknessBackL]= null,[OP120AlertorThicknessBackR]= null,[OP120LocatorFrontL]= null,[OP120LocatorFrontR]= null,[OP120LocatorBackL]= null,[OP120LocatorBackR]= null,[OP120HolderThicknessL]=null,
	--[OP120HolderThicknessR]= null,[OP120ERingCheckResult] = null,
	--OP80FinalResult = 'OK',
	--[OP130MachineNumber]= null,[OP130Time]= null,[OP130FinalResult]= null,[OP130MT]= null,[OP130TightenTorqueL]= null,[OP130TightenAngleL]= null,[OP130TightenTorqueR]= null,[OP130TightenAngleR]= null,[OP130MarkCode] =null, OP130ProcessPass = null
	
	--[OP140MachineNumber]= null,[OP140Time]=null,[OP140FinalResult]=null,[OP140MT]=null,[OP140ORingCheckResult]=null,OP140ProcessPass=null,
	--[OP150MachineNumber]= null,[OP150Time]= null,[OP150FinalResult]= null,[OP150MT]= null,[OP150TightenTorqueL]= null,[OP150TightenAngleL]= null,[OP150TightenTorqueR]= null,[OP150TightenAngleR]= null,OP150ProcessPass=null	
	
	[OP160MachineNumber]= null,[OP160Time]= null,[OP160FinalResult]= null,[OP160MT]= null,[OP160Voice0To2000]= null,[OP160Voice1000To2000]= null,[OP160TightenShakePC]= null,[OP160ReleaseShakePC]= null,[OP160TightenShake0To250]= null,
	[OP160TightenShake250To500]= null,[OP160TightenShake600To1000]= null,[OP160ClampForce5]= null,[OP160ClampForce13Dot72]= null,[OP160TightenTorqueL]= null,[OP160TightenAngleL]= null,[OP160TightenTorqueR]= null,[OP160TightenAngleR]= null,
	[OP160MGUQRCode]= null,[OP160DMRank]= null,[OP160InterferenceCheckResult]= null,[OP160ElectricDrillNoise] = null, OP160ProcessPass = null
	

where QRCode = @QRCode
--*/	
GO
