USE [ProductionDatas]
GO
/****** Object:  Table [dbo].[OP90_AData]    Script Date: 3/26/2021 2:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP90_AData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateDay] [nvarchar](10) NULL,
	[ProductTypeNo] [nvarchar](2) NULL,
	[OP90_AMachineNumber] [nvarchar](6) NULL,
	[OP90_ATime] [nvarchar](19) NULL,
	[OP90_AFinalResult] [nvarchar](2) NULL,
	[OP90_AMT] [nvarchar](6) NULL,
	[OP90_AMTGreaseResultL] [nvarchar](6) NULL,
	[OP90_AMTGreaseResultR] [nvarchar](6) NULL,
	[OP90_ADowelHoleGreaseResultL] [nvarchar](6) NULL,
	[OP90_ADowelHoleGreaseResultR] [nvarchar](6) NULL,
	[OP90_AProcessPass] [nvarchar](2) NULL,
 CONSTRAINT [PK_dbo.OP90_AData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
