USE [ProductionDatas]
GO
/****** Object:  Table [dbo].[ProductionData]    Script Date: 3/26/2021 2:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dateday] [nvarchar](10) NULL,
	[QRCode] [nvarchar](20) NULL,
	[ProductTypeNo] [nvarchar](2) NULL,
	[OP10MachineNumber] [nvarchar](6) NULL,
	[OP10Time] [nvarchar](19) NULL,
	[OP10FinalResult] [nvarchar](2) NULL,
	[OP10MT] [nvarchar](6) NULL,
	[OP10PassThroughTest] [nvarchar](2) NULL,
	[OP10TightenTorque] [nvarchar](6) NULL,
	[OP10TightenAngle] [nvarchar](6) NULL,
	[OP10ProcessPass] [nvarchar](2) NULL,
	[OP20MachineNumber] [nvarchar](6) NULL,
	[OP20Time] [nvarchar](19) NULL,
	[OP20FinalResult] [nvarchar](2) NULL,
	[OP20MT] [nvarchar](6) NULL,
	[OP20LowPressureValue] [nvarchar](6) NULL,
	[OP20LowPressureDistance] [nvarchar](6) NULL,
	[OP20HighPressureValue] [nvarchar](6) NULL,
	[OP20HighPressureDistance] [nvarchar](6) NULL,
	[OP20SealGrooveUp] [nvarchar](6) NULL,
	[OP20SealGrooveDown] [nvarchar](6) NULL,
	[OP20ProcessPass] [nvarchar](2) NULL,
	[OP30MachineNumber] [nvarchar](6) NULL,
	[OP30Time] [nvarchar](19) NULL,
	[OP30FinalResult] [nvarchar](2) NULL,
	[OP30MT] [nvarchar](6) NULL,
	[OP30GreaseResult] [nvarchar](2) NULL,
	[OP30ProcessPass] [nvarchar](2) NULL,
	[OP40MachineNumber] [nvarchar](6) NULL,
	[OP40Time] [nvarchar](19) NULL,
	[OP40FinalResult] [nvarchar](2) NULL,
	[OP40MT] [nvarchar](6) NULL,
	[OP40BoltLoad0To250] [nvarchar](6) NULL,
	[OP40BoltLoad0To150] [nvarchar](6) NULL,
	[OP40PistonLoad] [nvarchar](6) NULL,
	[OP40DDMotorSTNo] [nvarchar](6) NULL,
	[OP40CYGreaseResult] [nvarchar](2) NULL,
	[OP40ERingCheckResult] [nvarchar](2) NULL,
	[OP40ProcessPass] [nvarchar](2) NULL,
	[OP50MachineNumber] [nvarchar](6) NULL,
	[OP50Time] [nvarchar](19) NULL,
	[OP50FinalResult] [nvarchar](2) NULL,
	[OP50MT] [nvarchar](6) NULL,
	[OP50TightenTorque] [nvarchar](6) NULL,
	[OP50TightenAngle] [nvarchar](6) NULL,
	[OP50LaserPrintResult] [nvarchar](2) NULL,
	[OP50ProcessPass] [nvarchar](2) NULL,
	[OP60MachineNumber] [nvarchar](6) NULL,
	[OP60Time] [nvarchar](19) NULL,
	[OP60FinalResult] [nvarchar](2) NULL,
	[OP60MT] [nvarchar](6) NULL,
	[OP60LowPressureLeak] [nvarchar](6) NULL,
	[OP60ProcessPass] [nvarchar](2) NULL,
	[OP70_AMachineNumber] [nvarchar](6) NULL,
	[OP70_ATime] [nvarchar](19) NULL,
	[OP70_AFinalResult] [nvarchar](2) NULL,
	[OP70_AMT] [nvarchar](6) NULL,
	[OP70_AMediumPressureLeak] [nvarchar](10) NULL,
	[OP70_AProcessPass] [nvarchar](2) NULL,
	[OP70_BMachineNumber] [nvarchar](6) NULL,
	[OP70_BTime] [nvarchar](19) NULL,
	[OP70_BFinalResult] [nvarchar](2) NULL,
	[OP70_BMT] [nvarchar](6) NULL,
	[OP70_BMediumPressureLeak] [nvarchar](10) NULL,
	[OP70_BProcessPass] [nvarchar](2) NULL,
	[OP80MachineNumber] [nvarchar](6) NULL,
	[OP80Time] [nvarchar](19) NULL,
	[OP80FinalResult] [nvarchar](2) NULL,
	[OP80MT] [nvarchar](6) NULL,
	[OP80OutRoundLowPressure] [nvarchar](6) NULL,
	[OP80OutRoundLowHeight] [nvarchar](6) NULL,
	[OP80OutRoundHighPressure] [nvarchar](6) NULL,
	[OP80OutRoundHighHeight] [nvarchar](6) NULL,
	[OP80InRoundPressure] [nvarchar](6) NULL,
	[OP80InRoundHeight] [nvarchar](6) NULL,
	[OP80ProcessPass] [nvarchar](2) NULL,
	[OP90_AMachineNumber] [nvarchar](6) NULL,
	[OP90_ATime] [nvarchar](19) NULL,
	[OP90_AFinalResult] [nvarchar](2) NULL,
	[OP90_AMT] [nvarchar](6) NULL,
	[OP90_AMTGreaseResultL] [nvarchar](2) NULL,
	[OP90_AMTGreaseResultR] [nvarchar](2) NULL,
	[OP90_ADowelHoleGreaseResultL] [nvarchar](2) NULL,
	[OP90_ADowelHoleGreaseResultR] [nvarchar](2) NULL,
	[OP90_AProcessPass] [nvarchar](2) NULL,
	[OP90_BMachineNumber] [nvarchar](6) NULL,
	[OP90_BTime] [nvarchar](19) NULL,
	[OP90_BFinalResult] [nvarchar](2) NULL,
	[OP90_BMT] [nvarchar](6) NULL,
	[OP90_BProcessPass] [nvarchar](2) NULL,
	[OP100MachineNumber] [nvarchar](6) NULL,
	[OP100Time] [nvarchar](19) NULL,
	[OP100FinalResult] [nvarchar](2) NULL,
	[OP100MT] [nvarchar](6) NULL,
	[OP100MufflerHeightL] [nvarchar](6) NULL,
	[OP100MufflerHeightR] [nvarchar](6) NULL,
	[OP100ProcessPass] [nvarchar](2) NULL,
	[OP120MachineNumber] [nvarchar](6) NULL,
	[OP120Time] [nvarchar](19) NULL,
	[OP120FinalResult] [nvarchar](2) NULL,
	[OP120MT] [nvarchar](6) NULL,
	[OP120MufflerThicknessFrontL] [nvarchar](6) NULL,
	[OP120MufflerThicknessFrontR] [nvarchar](6) NULL,
	[OP120MufflerThicknessBackL] [nvarchar](6) NULL,
	[OP120MufflerThicknessBackR] [nvarchar](6) NULL,
	[OP120AlertorThicknessFrontL] [nvarchar](6) NULL,
	[OP120AlertorThicknessFrontR] [nvarchar](6) NULL,
	[OP120AlertorThicknessBackL] [nvarchar](6) NULL,
	[OP120AlertorThicknessBackR] [nvarchar](6) NULL,
	[OP120LocatorFrontL] [nvarchar](6) NULL,
	[OP120LocatorFrontR] [nvarchar](6) NULL,
	[OP120LocatorBackL] [nvarchar](6) NULL,
	[OP120LocatorBackR] [nvarchar](6) NULL,
	[OP120HolderThicknessL] [nvarchar](6) NULL,
	[OP120HolderThicknessR] [nvarchar](6) NULL,
	[OP120ERingCheckResult] [nvarchar](2) NULL,
	[OP120ProcessPass] [nvarchar](2) NULL,
	[OP130MachineNumber] [nvarchar](6) NULL,
	[OP130Time] [nvarchar](19) NULL,
	[OP130FinalResult] [nvarchar](2) NULL,
	[OP130MT] [nvarchar](6) NULL,
	[OP130TightenTorqueL] [nvarchar](6) NULL,
	[OP130TightenAngleL] [nvarchar](6) NULL,
	[OP130TightenTorqueR] [nvarchar](6) NULL,
	[OP130TightenAngleR] [nvarchar](6) NULL,
	[OP130MarkCode] [nvarchar](10) NULL,
	[OP130ProcessPass] [nvarchar](2) NULL,
	[OP140MachineNumber] [nvarchar](6) NULL,
	[OP140Time] [nvarchar](19) NULL,
	[OP140FinalResult] [nvarchar](2) NULL,
	[OP140MT] [nvarchar](6) NULL,
	[OP140ORingCheckResult] [nvarchar](2) NULL,
	[OP140ProcessPass] [nvarchar](2) NULL,
	[OP150MachineNumber] [nvarchar](6) NULL,
	[OP150Time] [nvarchar](19) NULL,
	[OP150FinalResult] [nvarchar](2) NULL,
	[OP150MT] [nvarchar](6) NULL,
	[OP150TightenTorqueL] [nvarchar](6) NULL,
	[OP150TightenAngleL] [nvarchar](6) NULL,
	[OP150TightenTorqueR] [nvarchar](6) NULL,
	[OP150TightenAngleR] [nvarchar](6) NULL,
	[OP150ProcessPass] [nvarchar](2) NULL,
	[OP160MachineNumber] [nvarchar](6) NULL,
	[OP160Time] [nvarchar](19) NULL,
	[OP160FinalResult] [nvarchar](2) NULL,
	[OP160MT] [nvarchar](6) NULL,
	[OP160Voice0To2000] [nvarchar](6) NULL,
	[OP160Voice1000To2000] [nvarchar](6) NULL,
	[OP160TightenShakePC] [nvarchar](6) NULL,
	[OP160ReleaseShakePC] [nvarchar](6) NULL,
	[OP160TightenShake0To250] [nvarchar](6) NULL,
	[OP160TightenShake250To500] [nvarchar](6) NULL,
	[OP160TightenShake600To1000] [nvarchar](6) NULL,
	[OP160ClampForce5] [nvarchar](6) NULL,
	[OP160ClampForce13Dot72] [nvarchar](6) NULL,
	[OP160TightenTorqueL] [nvarchar](6) NULL,
	[OP160TightenAngleL] [nvarchar](6) NULL,
	[OP160TightenTorqueR] [nvarchar](6) NULL,
	[OP160TightenAngleR] [nvarchar](6) NULL,
	[OP160MGUQRCode] [nvarchar](26) NULL,
	[OP160DMRank] [nvarchar](2) NULL,
	[OP160InterferenceCheckResult] [nvarchar](2) NULL,
	[OP160ElectricDrillNoise] [nvarchar](6) NULL,
	[OP160ProcessPass] [nvarchar](2) NULL,
 CONSTRAINT [PK_dbo.ProductionDatas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
