USE [ProductionDatas]
GO
/****** Object:  StoredProcedure [dbo].[spSearchProductioByActualDayAndOperation]    Script Date: 3/26/2021 2:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Fecha: 24-02-2021
	Desc: Consulta por operacion y por dia actual la informacion para ser exportada a excel
	autor: jose chavez ingeniate
*/
CREATE procedure [dbo].[spSearchProductioByActualDayAndOperation] @Operation varchar(10) as
BEGIN

DECLARE @today date

set @today =  FORMAT(GETDATE(), 'yyyy-MM-dd')
--declare @Operation varchar(10)
--set @Operation = 'OP160'

IF @Operation = 'OP10'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo]
      ,[OP10MachineNumber]
      ,[OP10Time]
      ,[OP10FinalResult]
      ,[OP10MT]
      ,[OP10PassThroughTest]
      ,[OP10TightenTorque]
      ,[OP10TightenAngle] 
	  FROM [dbo].[ProductionData] WHERE DateDay = @today and OP10Time is not null
END

IF @Operation = 'OP20'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo]     
	  ,[OP20MachineNumber]
      ,[OP20Time]
      ,[OP20FinalResult]
      ,[OP20MT]
      ,[OP20LowPressureValue]
      ,[OP20LowPressureDistance]
      ,[OP20HighPressureValue]
      ,[OP20HighPressureDistance]
      ,[OP20SealGrooveUp]
      ,[OP20SealGrooveDown]
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today and OP20Time is not null
END
	  
IF @Operation = 'OP30'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP30MachineNumber]
      ,[OP30Time]
      ,[OP30FinalResult]
      ,[OP30MT]
      ,[OP30GreaseResult]
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today  and OP30Time is not null
END

IF @Operation = 'OP40'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP40MachineNumber]
      ,[OP40Time]
      ,[OP40FinalResult]
      ,[OP40MT]
      ,[OP40BoltLoad0To250]
      ,[OP40BoltLoad0To150]
      ,[OP40PistonLoad]
      ,[OP40DDMotorSTNo]
      ,[OP40CYGreaseResult]
      ,[OP40ERingCheckResult]
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today and OP40Time is not null
END

IF @Operation = 'OP50'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP50MachineNumber]
      ,[OP50Time]
      ,[OP50FinalResult]
      ,[OP50MT]
      ,[OP50TightenTorque]
      ,[OP50TightenAngle]
      ,[OP50LaserPrintResult]
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today and OP50Time is not null
END

IF @Operation = 'OP60'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP60MachineNumber]
      ,[OP60Time]
      ,[OP60FinalResult]
      ,[OP60MT]
      ,[OP60LowPressureLeak]
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today  and OP60Time is not null
END

IF @Operation = 'OP70_A'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP70_AMachineNumber]
      ,[OP70_ATime]
      ,[OP70_AFinalResult]
      ,[OP70_AMT]
      ,[OP70_AMediumPressureLeak]
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today and OP70_ATime is not null
END

IF @Operation = 'OP70_B'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP70_BMachineNumber]
      ,[OP70_BTime]
      ,[OP70_BFinalResult]
      ,[OP70_BMT]
      ,[OP70_BMediumPressureLeak]
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today  and OP70_BTime is not null
END

IF @Operation = 'OP80'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP80MachineNumber]
      ,[OP80Time]
      ,[OP80FinalResult]
      ,[OP80MT]
      ,[OP80OutRoundLowPressure]
      ,[OP80OutRoundLowHeight]
      ,[OP80OutRoundHighPressure]
      ,[OP80OutRoundHighHeight]
      ,[OP80InRoundPressure]
      ,[OP80InRoundHeight]
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today and OP80Time is not null
END

IF @Operation = 'OP90_A'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP90_AMachineNumber]
      ,[OP90_ATime]
      ,[OP90_AFinalResult]
      ,[OP90_AMT]
      ,[OP90_AMTGreaseResultL]
      ,[OP90_AMTGreaseResultR]
      ,[OP90_ADowelHoleGreaseResultL]
      ,[OP90_ADowelHoleGreaseResultR]
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today and OP90_ATime is not null
END

IF @Operation = 'OP90_B'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP90_BMachineNumber]
      ,[OP90_BTime]
      ,[OP90_BFinalResult]
      ,[OP90_BMT]
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today and OP90_BTime is not null
END

IF @Operation = 'OP100'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP100MachineNumber]
      ,[OP100Time]
      ,[OP100FinalResult]
      ,[OP100MT]
      ,[OP100MufflerHeightL]
      ,[OP100MufflerHeightR]	  
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today  and OP100Time is not null
END

IF @Operation = 'OP120'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP120MachineNumber]
      ,[OP120Time]
      ,[OP120FinalResult]
      ,[OP120MT]
      ,[OP120MufflerThicknessFrontL]
      ,[OP120MufflerThicknessFrontR]
      ,[OP120MufflerThicknessBackL]
      ,[OP120MufflerThicknessBackR]
      ,[OP120AlertorThicknessFrontL]
      ,[OP120AlertorThicknessFrontR]
      ,[OP120AlertorThicknessBackL]
      ,[OP120AlertorThicknessBackR]
      ,[OP120LocatorFrontL]
      ,[OP120LocatorFrontR]
      ,[OP120LocatorBackL]
      ,[OP120LocatorBackR]
      ,[OP120HolderThicknessL]
      ,[OP120HolderThicknessR]
      ,[OP120ERingCheckResult]	  
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today  and OP120Time is not null
END

IF @Operation = 'OP130'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP130MachineNumber]
      ,[OP130Time]
      ,[OP130FinalResult]
      ,[OP130MT]
      ,[OP130TightenTorqueL]
      ,[OP130TightenAngleL]
      ,[OP130TightenTorqueR]
      ,[OP130TightenAngleR]
      ,[OP130MarkCode]
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today and OP130Time is not null
END

IF @Operation = 'OP140'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP140MachineNumber]
      ,[OP140Time]
      ,[OP140FinalResult]
      ,[OP140MT]
      ,[OP140ORingCheckResult]	  
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today and OP140Time is not null
END

IF @Operation = 'OP150'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP150MachineNumber]
      ,[OP150Time]
      ,[OP150FinalResult]
      ,[OP150MT]
      ,[OP150TightenTorqueL]
      ,[OP150TightenAngleL]
      ,[OP150TightenTorqueR]
      ,[OP150TightenAngleR]
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today  and OP150Time is not null
END

IF @Operation = 'OP160'
BEGIN
SELECT [QRCode], [DateDay], [ProductTypeNo] 
      ,[OP160MachineNumber]
      ,[OP160Time]
      ,[OP160FinalResult]
      ,[OP160MT]
      ,[OP160Voice0To2000]
      ,[OP160Voice1000To2000]
      ,[OP160TightenShakePC]
      ,[OP160ReleaseShakePC]
      ,[OP160TightenShake0To250]
      ,[OP160TightenShake250To500]
      ,[OP160TightenShake600To1000]
      ,[OP160ClampForce5]
      ,[OP160ClampForce13Dot72]
      ,[OP160TightenTorqueL]
      ,[OP160TightenAngleL]
      ,[OP160TightenTorqueR]
      ,[OP160TightenAngleR]
      ,[OP160MGUQRCode]
      ,[OP160DMRank]
      ,[OP160InterferenceCheckResult]
      ,[OP160ElectricDrillNoise]	  
	  FROM [dbo].[ProductionData]  WHERE DateDay = @today  and OP160Time is not null
END
  
End

GO
