USE [ProductionDatas]
GO
/****** Object:  StoredProcedure [dbo].[spSearchQROnStations]    Script Date: 3/26/2021 2:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Fecha: 24-02-2021
	Desc: Consulta si el codigo qr falto de procesar en una estacion
	autor: jose chavez ingeniate
*/
CREATE procedure [dbo].[spSearchQROnStations] @QRCode varchar(30) as
BEGIN
declare @OP varchar(10)
set @OP = '0'


--declare @QRCode varchar(20)
--set @QRCode = '440006RA0CT212R20002'

declare @tAux table(
	   [OP10FinalResult] nvarchar(2)
      ,[OP20FinalResult] nvarchar(2)
      ,[OP30FinalResult] nvarchar(2)
      ,[OP40FinalResult] nvarchar(2)
      ,[OP50FinalResult] nvarchar(2)
      ,[OP60FinalResult] nvarchar(2)
      ,[OP70_AFinalResult] nvarchar(2)
      ,[OP70_BFinalResult] nvarchar(2)
      ,[OP80FinalResult] nvarchar(2)
      ,[OP90_AFinalResult] nvarchar(2)
      ,[OP90_BFinalResult] nvarchar(2)
      ,[OP100FinalResult] nvarchar(2)
      ,[OP120FinalResult] nvarchar(2)
      ,[OP130FinalResult] nvarchar(2)
      ,[OP140FinalResult] nvarchar(2)
      ,[OP150FinalResult] nvarchar(2)
      ,[OP160FinalResult] nvarchar(2))


INSERT INTO  @tAux (
	   [OP10FinalResult]
      ,[OP20FinalResult]
      ,[OP30FinalResult]
      ,[OP40FinalResult]
      ,[OP50FinalResult]
      ,[OP60FinalResult]
      ,[OP70_AFinalResult]
      ,[OP70_BFinalResult]
      ,[OP80FinalResult]
      ,[OP90_AFinalResult]
      ,[OP90_BFinalResult]
      ,[OP100FinalResult]
      ,[OP120FinalResult]
      ,[OP130FinalResult]
      ,[OP140FinalResult]
      ,[OP150FinalResult]
      ,[OP160FinalResult]
)
SELECT  
	   [OP10FinalResult]
      ,[OP20FinalResult]
      ,[OP30FinalResult]
      ,[OP40FinalResult]
      ,[OP50FinalResult]
      ,[OP60FinalResult]
      ,[OP70_AFinalResult]
      ,[OP70_BFinalResult]
      ,[OP80FinalResult]
      ,[OP90_AFinalResult]
      ,[OP90_BFinalResult]
      ,[OP100FinalResult]
      ,[OP120FinalResult]
      ,[OP130FinalResult]
      ,[OP140FinalResult]
      ,[OP150FinalResult]
      ,[OP160FinalResult]
	FROM ProductionData WHERE QRCode = @QRCode


if not exists (select * from @tAux)
	set @OP = -1
else 
if exists (select 1 from @tAux WHERE ([OP10FinalResult] IS NULL OR [OP10FinalResult] = 'NG'))
	set @OP = '10'
else
	if exists (select 1 from @tAux WHERE ([OP20FinalResult] IS NULL OR [OP20FinalResult] = 'NG'))
		set @OP = '20'
	else
		if exists (select 1 from @tAux WHERE ([OP30FinalResult] IS NULL OR [OP30FinalResult] = 'NG'))
			set @OP = '30'
		else
			if exists (select 1 from @tAux WHERE ([OP40FinalResult] IS NULL OR [OP40FinalResult] = 'NG'))
				set @OP = '40'
			else
			if exists (select 1 from @tAux WHERE ([OP50FinalResult] IS NULL OR [OP50FinalResult] = 'NG'))
				set @OP = '50'
			else
				if exists (select 1 from @tAux WHERE ([OP60FinalResult] IS NULL OR [OP60FinalResult] = 'NG'))
					set @OP = '60'
				else
					if exists (select 1 from @tAux WHERE (OP70_AFinalResult IS NULL and OP70_BFinalResult is null))
						begin
							if exists (select 1 from @tAux WHERE OP70_AFinalResult IS NULL)
								set @OP = '71'
							else
								set @OP = '72'
						end
						else
							if exists (select 1 from @tAux WHERE (OP80FinalResult IS NULL or OP80FinalResult = 'NG'))
							set @OP = '80'
							else
								if exists (select 1 from @tAux WHERE ([OP120FinalResult] IS NULL OR [OP120FinalResult] = 'NG'))
									set @OP = '120'
								else
									if exists (select 1 from @tAux WHERE ([OP130FinalResult] IS NULL OR [OP130FinalResult] = 'NG'))
										set @OP = '130'
									else
										if exists (select 1 from @tAux WHERE ([OP140FinalResult] IS NULL OR [OP140FinalResult] = 'NG'))
											set @OP = '140'
										else
											if exists (select 1 from @tAux WHERE ([OP150FinalResult] IS NULL OR [OP150FinalResult] = 'NG'))
												set @OP = '150'
											
					

	select @OP

End


GO
