USE [ProductionDatas]
GO
/****** Object:  Table [dbo].[OP100Data]    Script Date: 3/26/2021 2:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP100Data](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateDay] [nvarchar](10) NULL,
	[ProductTypeNo] [nvarchar](2) NULL,
	[OP100MachineNumber] [nvarchar](6) NULL,
	[OP100Time] [nvarchar](19) NULL,
	[OP100FinalResult] [nvarchar](2) NULL,
	[OP100MT] [nvarchar](6) NULL,
	[OP100MufflerHeightL] [nvarchar](6) NULL,
	[OP100MufflerHeightR] [nvarchar](6) NULL,
	[OP100ProcessPass] [nvarchar](2) NULL,
 CONSTRAINT [PK_dbo.OP100Data] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
