USE [ProductionDatas]
GO
/****** Object:  Table [dbo].[OP90_BData]    Script Date: 3/26/2021 2:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OP90_BData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateDay] [nvarchar](10) NULL,
	[ProductTypeNo] [nvarchar](2) NULL,
	[OP90_BMachineNumber] [nvarchar](6) NULL,
	[OP90_BTime] [nvarchar](19) NULL,
	[OP90_BFinalResult] [nvarchar](2) NULL,
	[OP90_BMT] [nvarchar](6) NULL,
	[OP90_BProcessPass] [nvarchar](2) NULL,
 CONSTRAINT [PK_dbo.OP90_BData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
