USE [ProductionDatas]
GO
/****** Object:  StoredProcedure [dbo].[spGetDataBaseSize]    Script Date: 3/26/2021 2:48:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Fecha: 24-02-2021
	Desc: Consulta el espacio disponible en la base de datos
	autor: jose chavez ingeniate
*/
CREATE procedure [dbo].[spGetDataBaseSize] as
BEGIN
SELECT      
		CONVERT(VARCHAR,SUM(size)*8/1024/1000.0) 'data'
	FROM        sys.databases   
	JOIN        sys.master_files  
	ON          sys.databases.database_id=sys.master_files.database_id  
	WHERE sys.databases.name like 'ProductionDatas'
	GROUP BY    sys.databases.name  
	ORDER BY    sys.databases.name 
End

GO
